runs/*
__pycache__/*
SAC/spinup_utils/__pycache__/*
SAC/data/
SAC/actors/__pycache__/*
SAC/envs/__pycache__/*
SAC/envs/.DS_Store
SAC/envs/max-entropy-gym-env/.DS_Store
SAC/envs/.DS_Store
SAC/envs/max-entropy-gym-env/gym_max_entropy/.DS_Store
ToyExperiments/figs
.DS_Store
.vscode
.vscode/settings.json
max_entropy_plots_/*

