runs/*
__pycache__/*
ToyExperiments/figs
.DS_Store
.vscode
.vscode/settings.json
actors/__pycache__/*
STAC/__pycache__/*
STAC/actors/__pycache__/*
STAC/envs/__pycache__/*
data/*
STAC/multi_goal_plots_/*
STAC/max_entropy_plots_/*

